@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;700&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Nunito', sans-serif;
}
html,body{
    width: 100%;
    height: 100%;
}
.main{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color: #ADEFD1FF;
}
/* Sailor Blue (#00203FFF) and Mint (#ADEFD1FF) */
.panel{
    overflow: hidden;
    width: 80%;
    height: 80%;
    background-color: white;
    border-radius: 10px;
    box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px, rgba(6, 24, 44, 0.65) 0px 4px 6px -1px, rgba(255, 255, 255, 0.08) 0px 1px 0px inset;box-shadow: rgba(0, 0, 0, 0.2) 0px 12px 28px 0px, rgba(0, 0, 0, 0.1) 0px 2px 4px 0px, rgba(255, 255, 255, 0.05) 0px 0px 0px 1px inset;
}
.ptop{
    padding: 0 30%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 100px;
    background-color: #00203FFF;
    color: white;
}

.elem{
    display: flex;
    align-items: center;
    gap: 20px;
}
.box{
    color: rgb(1, 15, 28);
    font-size: 25px;
    font-weight: 600;
    padding: 10px 20px;
    background-color: white;
    border-radius: 5px;
}
.elem h2{
    font-size: 22px;
    font-weight: 500;
}
.pbtm{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    padding: 20px;
    gap: 10px;
    width: 100%;
    height: calc(100% - 100px);
}
.bubble{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: rgb(9, 41, 96);
    color: white;
    font-weight: 500;
    font-size: 22px;
}
.bubble:hover{
    cursor: pointer;
    background-color: rgb(0, 15, 63);
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}